@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    /* background: rgb(96, 150, 180); */
    background-image: url(https://images.unsplash.com/photo-1433185000771-ec45c869c61b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80);
    background-size: cover;
    background-position: center;
}

.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0, 0, 0.1);

}
.container header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.container .form{
    margin-top: 30px;
}

.form .imput-box{
    width: 100%;
    margin-top: 20px;
}

.imput-box label{
    color: #333;
}

.form .imput-box input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    color: #707070;
    margin-top: 8px; 
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;

}

.form .imput-box select{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    color: #707070;
    margin-top: 8px; 
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;

}


.imput-box input:focus{
    box-shadow: 0 1px 0 rgba(0,0, 0, 0.1);
}

.Type h3{
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.opcMuestra, .muestra){
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .muestra{
    column-gap: 5px;
    cursor: pointer;
}

.muestra input{
    accent-color:rgb(96, 150, 180);
}

.form :where(.muestra input, .muestra label){
    cursor: pointer;
}

/* .form button{
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    transition: all 0.2s ease;
    background-color: rgb(165, 42, 42);
    transition: 0.6s;
}

.form button:hover{
    transition: 0.6s;
    background-color: rgb(205, 71, 71);
} */

.button{
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    transition: all 0.2s ease;
    background-color: rgb(165, 42, 42);
    transition: 0.6s;
}

.button:hover{
    transition: 0.6s;
    background-color: rgb(205, 71, 71);
}

.Caracteristicas h3{
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form:where(.opcCara, .cara){
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .cara{
    column-gap: 5px;
    cursor: pointer;
}

.cara input{
    accent-color:rgb(96, 150, 180);
}

.form :where(.cara input, .cara label){
    cursor: pointer;
}

    
/*RESPONSIVE*/

@media screen and (max-width: 500px){
    .form {
        flex-wrap: wrap;
    }
    .form :where(.opcMuestra, .muestra){
        row-gap: 15px;
    }
}