@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    background-color: rgb(27, 127, 182);
    background-image: url(https://images.unsplash.com/photo-1433185000771-ec45c869c61b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80);
    background-size: cover;
    background-position: center;
}

.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0, 0, 0.1);

}
.container header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

#resultado{
    width: 100%;
    margin: 3% 0%;
}

td {
    border: 1px solid #333;
    vertical-align: top;
}

th {
    background-color: #333;
    color: #fff;
}

/* #botones button{
    border: none;
    font-size: 1rem;
    padding: 0.3rem;
    margin: 0.1rem;
    color: #fff;
    background-color: rgb(165, 42, 42);
    border-radius: 6px;
    transition: 0.6s;
    cursor: pointer;
}

#botones button:hover{
    transition: 0.6s;
    background-color: rgb(205, 71, 71);
} */

.boton{
    border: none;
    font-size: 1rem;
    padding: 0.3rem;
    margin: 0.1rem;
    color: #fff;
    background-color: rgb(165, 42, 42);
    border-radius: 6px;
    transition: 0.6s;
    cursor: pointer;
}

.boton:hover{
    transition: 0.6s;
    background-color: rgb(205, 71, 71);
}

/*RESPONSIVE*/

@media screen and (max-width: 500px){
    
    #botones{
        display: flex;
        flex-direction: column;
    }

}