@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    /* height: 100vh; */
    background-color: #000;
    background-image: url(https://images.unsplash.com/photo-1433185000771-ec45c869c61b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e1e;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(165, 42, 42);
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
a:hover{
    color: green;
}
/* header */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    background: green;
}

ul{
    display: flex;
}

ul li{
    list-style: none;
}

ul li a{
    position: relative;
    color: #333;
    padding: 5px 20px;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.icon ul li a{
    color: #fff;

}

ul li a span{
    transition: 0.5s;
    transition-delay: calc(0.05s * var (--1));
}

ul li a span:nth-child(2){
    position: absolute;
    transform: translateY(35px);
    font-size: 1.6em;
}

ul li:hover a span:nth-child(2){
    color: #1e1e1e;
}

.icon ul li a span:nth-child(2){
    transform: translateY(-6px);
    

}


.icon ul li a span:nth-child(1){
    transform: translateY(-30px);
}

.brand{
    position: relative;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    padding: 5px 0;
    overflow: hidden;
}

.brand span{
    transition: 0.5s;
    display: block;

}

.brand span:nth-child(1){
    position: absolute;
    transform: translateY(-80px);
    font-size: 1.5em;
}




.icon .brand span:nth-child(1){
    transform: translateY(-5px);
    color: #fff;
}

.icon .brand span:nth-child(2){
    transform: translateY(37px);

}



/*.action_btn{
    background-color: rgb(165, 42, 42);
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;

}
.action_btn:hover{
    scale: 1.05;
    color: #fff;
}
.action_btn:active{
    scale: 0.95;
}*/

/* Dropdown Menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255,255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: heigth .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Hero */

section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* color: black; */
    color: #fff;
    font-weight: 1000;
    font-size: 0.3rems;
}
#hero h1{
    background-color: rgba(165, 42, 42, 0.5);
    padding: 1.5%;
    border-radius: 50rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}

#hero p{
    padding: 0% 3%;
}

/*Que es el SIMFIQ*/

.queEsSimfiq{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    margin-bottom: 5%;
    box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.75);
}

#imgTubos{
    height: 50vh;
}

.queEsSimfiq h1{
    color: rgb(165, 42, 42);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.queEsSimfiq div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
}

.imgCualidad{
    height: 20vh;
    margin-right: 4%;
}

footer{
    background-color: #fff;
    box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.75); 
    padding: 2rem;
    text-align: center;
}

footer div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

ion-icon{
    font-size: 3rem;
    margin-left: 1rem;
}

/* Responsive */
@media (max-width:992px){

    #hero h1{
        font-size: 1.85rem;
    }

    .queEsSimfiq div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 1.2rem;
    }

    #imgTubos{
        height: 25vh;
    }
}

@media (max-width: 576px){

    #hero h1{
        font-size: 1rem;
    }

    #hero p{
        padding: 0% 5%;
        font-size: 12px;
    }
}