/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'VT323'; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Oswald', sans-serif;
}

body{
    /* height: 100vh; */
    background-color: #000;
    background-image: url(https://images.unsplash.com/photo-1433185000771-ec45c869c61b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
a:hover{
    color: green;
}
/* header */
header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .link{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: black;
    font-size: 1,5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: rgb(165, 42, 42);
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;

}
.action_btn:hover{
    scale: 1.05;
    color: #fff;
}
.action_btn:active{
    scale: 0.95;
}

/* Dropdown Menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255,255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: heigth .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Hero */

section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* color: black; */
    color: #fff;
    font-weight: 1000;
    font-size: 0.3rems;
}
#hero h1{
    background-color: rgba(165, 42, 42, 0.5);
    padding: 1.5%;
    border-radius: 50rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}

#hero p{
    padding: 0% 3%;
}

/*Que es el SIMFIQ*/

.queEsSimfiq{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    margin-bottom: 5%;
    box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.75);
}

#imgTubos{
    height: 50vh;
}

.queEsSimfiq h1{
    color: rgb(165, 42, 42);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.queEsSimfiq div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
}

.imgCualidad{
    height: 20vh;
    margin-right: 4%;
}

footer{
    background-color: #fff;
    box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.75); 
    padding: 2rem;
    text-align: center;
}

footer div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

ion-icon{
    font-size: 3rem;
    margin-left: 1rem;
}

/* Responsive */
@media (max-width:992px){
    .navbar .link,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }

    #hero h1{
        font-size: 1.85rem;
    }

    .queEsSimfiq div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 1.2rem;
    }

    #imgTubos{
        height: 25vh;
    }
}

@media (max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

    #hero h1{
        font-size: 1rem;
    }

    #hero p{
        padding: 0% 5%;
        font-size: 12px;
    }
}